{% extends "base.html" %}

{% block title %}
Products
{% endblock %}

{% block content %}
<div class="card-deck">
    {% for product in product_list %}
    <div class="card" style="min-width: 20rem; max-width: 20rem; margin-top: 2rem; margin-bottom: 2rem;">
        <div class="card-body">
            <h5 class="card-title" name="product_id">{{ product[0] }}. {{ product[1] }}</h5>
            <p class="card-text">Price: ${{ product[4] }}</p>
            <p class="card-text">Weight: {{ product[5] }}lbs.</p>
            <p class="card-text"><small class="text-muted">{{ product[6] }}</small></p>
        </div>

        <div class="card-footer">
            <div class="container py-3">
                <div class="row">
                    <div class="col-sm-8 mx-auto">
                        <div class="input-group">
                            <input type="text" name="quantity" id="quantity" class="form-control input-number" min="1" max="30">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card text-center" style="width: 15.5rem;">
                <button type="button" class="btn btn-primary" onclick="addToCart('{{ product[0] }}')">Add to
                    cart</button>
            </div>
        </div>

    </div>
    {% endfor %}
</div>
{% endblock %}